.landingpage2div {
    background-image: url('../../Assets/Img/landingpage2bg.svg');
    height: 100vh;
    background-size: cover;


}

.landingpage2content {
    text-align: center;
    padding-top: 2rem !important;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;


}

.landingpage2content h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
}

.landingpage2content p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #fff;
    padding-bottom: 1rem !important;
}

.landingpagepopup {
    opacity: 0.9;
    background-color: #d1cfce;
    width: 600px;
    height: 450px;
    margin: 0 auto !important;
    border-radius: 15px;
    padding-block: 1.5rem !important;
}

.landingpagepopup h4 {
    color: var(--lightbrown);
    text-align: center;
}


.landingpagepopup textarea {
    margin-block: 1rem !important;
    border: none;
    width: 90%;
    margin-inline: 0rem !important;
    outline: none;
    border-radius: 8px;
    padding-inline: 1rem !important;
    padding-block: 1rem !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
}


.landingpagepopup select {
    width: 90%;
    margin-inline: 0rem !important;
    outline: none;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    cursor: pointer;
}


.landingpagepopup {
    text-align: left !important;
    padding-inline: 2rem !important;
    padding-top: 2rem !important;

}

#spanlandingpage2 {
    color: black;
    padding-top: 1rem !important;
    font-size: 1rem;
}

.checkboxandinput {
    color: black;
    padding-top: 1rem !important;
    font-size: 1rem;
}

.checkboxandinput span {
    margin-left: 1rem !important;
}


#landingpage2btn {
    width: 100%;
    border-radius: 3.57px;
    background: #AA9166;
    color: white;
    border: none;
    height: 35px;
    font-weight: 600;
    margin-top: 1rem !important;
}


.howdoesitworkdiv {
    text-align: center;
    padding-block: 2rem !important;
}

.howdoesitworkdiv h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2rem !important;
}

.howdoesitworkdiv p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    text-align: center;
    width: 40%;
    margin: 0 auto !important;
    padding-top: 1rem !important;
}

.howdoesmaindiv {
    margin-inline: 4rem !important;
    display: flex;
    justify-content: center;

}

#howdoespic {
    width: 300px;
}

#cartoonpic {
    width: 300px;
    margin-left: 10rem !important;
}


body {
    overflow-x: hidden;
}

.cardivmain {
    text-align: center;
    padding-top: 5rem !important;
}

.cardivmain h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem !important;
}

.cardivmain p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    padding-top: 1rem;
}

.cardivmain button {
    width: 40%;
    border-radius: 3.57px;
    background: #AA9166;
    color: white;
    border: none;
    height: 35px;
    font-weight: 600;
    margin-top: 1rem !important;
}


.servicesmaindiv {
    text-align: center;

}

.servicesmaindiv h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2rem !important;
}

.servicesmaindiv p {
    width: 40%;
    margin: 0 auto !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
    padding-top: 1rem !important;
}

.workpicmaindivishere {
    text-align: center;
}

.workpicmaindivishere {
    background-color: #FFF8F0;
    padding: 1rem !important;

}

.workpicmaindivishere img {
    width: 60px;
    padding-top: 1rem !important;
}

.wakeelsmaindiv {
    text-align: center;
    padding-top: 2rem !important;
}

.wakeelsmaindiv h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2rem !important;
}

.wakeelsmaindiv p {
    margin: 0 auto !important;
    width: 40%;
    padding-top: 1rem !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem !important;
}



#girlmainpic {
    width: 170px;
}

.girmani {
    width: 100px;
}

.swiper-pagination {
    position: absolute;
    top: 16rem !important;
    text-align: center;
    display: none;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.videodiv {
    margin-top: 2rem !important;
}

.textpic {
    text-align: center;
    width: 800px;
    margin: 0 auto !important;
}


/* swiper code */



.swiper-wrapper {
    height: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3rem;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  
  
  .swiperimage {
    width: 330px;
    height: 370px;
    position: relative;
    border-radius: 23.285px;
    background: linear-gradient(225deg, #F3AC7F 1.74%, #FBE8DC 100%);
  }
  
  .imagebelow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 23.285px 23.285px;
    width: 100%;
    background: linear-gradient(38deg, #aa9166 0%, rgb(170 145 102) 71.76%);
    height: 100px;
    flex-direction: column;
    text-align: justify;
    display: flex;
    padding: 10px;
    color: white;
    font-family: AeonikTRIAL-Regular;
    font-weight: 400;
  }
  
  .swiper-slide {
    margin: 0px !important;
  }
  
  .imagebelow div:nth-of-type(1) {
    font-size: 27px;
    font-family: AeonikTRIAL-Regular;
    font-weight: 400;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
  
  .imagebelow div:nth-of-type(2) {
    font-size: 18px;
    font-family: AeonikTRIAL-Regular;
    font-weight: 400;
    padding-block: 0.6rem;
  }
  
  .imagebelow div:nth-of-type(3) {
    font-size: 16px;
    font-family: AeonikTRIAL-Regular;
    font-weight: 400;
  }
  
  
  
  .maindivoftalentswiper {
    margin-inline: 10rem !important;
    margin-top: -6rem;
  }
  
  
  .swiper-slide {
  
    font-size: 18px;
    background: #fff;
    height: 350px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide {
    transition: transform 0.3s;
    
  }
  
  .swiper-slide-active-custom {
    transform: scale(1);
  
  }
  
  .swiper-slide-next-custom, .swiper-slide-prev-custom {
    transform: scale(0.8);
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
  
  .maindivoftalentswiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100% ;
    object-fit: cover;
  }
  
  
  
  .swiper {
    width: 100%;
    height: 400px;
    margin: 0px auto;
  }
  
  /* inspect tool stting */
  
  .swiper-button-prev {
    color: #fff !important;
    background-color: #aa9166;
    height: 100px;
    width: 45px !important;
    font-size: 22px;
    border-radius: 100%;
  }
  
  .swiper-button-prev:after {
    font-size: 22px !important;
  }
  
  .swiper-button-next:after {
    /* color: #fff !important;
    background-color: #E9620B;
    height: 40px;
    width: 60px;
    border-radius: 100%;
    font-size: 20px !important;
    line-height: 2; */
  
    padding-left: 1.5rem;
    color: #fff !important;
    background-color: #aa9166;
    height: 40px;
    width: 34px;
    border-radius: 100%;
    font-size: 21px !important;
    line-height: 2;
    margin-left: -1rem;
    margin-top: 0rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
  }
  
  .swiper-pagination {
    width: 100%;
    /* Set the width */
    height: 40px !important;
    /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-pagination .swiper-pagination-fraction {
    font-size: 16px !important;
    /* Adjust the font size */
    color: #fff !important;
    /* Adjust the text color */
  }
  
  .swiper-pagination-fraction {
    display: none !important;
  }
  
  
  /* asdasd */
  
  
  /* YourCSSFile.css */
  
  
  
  .slider-container {
    width: 90%;
    min-width: 300px;
    max-width: 650px;
    overflow: hidden;
    border: 2px solid #c4c4c4;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }
  
  .item-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .item {
    flex-basis: 1;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    filter: blur(2px);
  }
  
  .medianValue {
    background-color: #e74c3c;
    box-shadow: 3px 3px 10px #bbb, -3px 3px 10px #bbb;
    width: 150px;
    height: 150px;
    transform: translateZ(0px) rotateY(0);
    filter: none;
    margin: 5px;
    z-index: 10;
  }
  
  .firstLeft {
    transform: translateZ(-180px) translateX(0px) rotateY(35deg);
  }
  
  .firstRight {
    transform: translateX(-0px) translateZ(-180px) rotateY(-35deg);
  }
  
  /* Rest of your CSS code */
  
  
  @media screen and (max-width:1920px) {
  
    .maindivoftalentswiper .swiper{
      width: 55%;
    }
  }
  
  
  @media screen and (max-width:1800px) {
  
    .maindivoftalentswiper .swiper{
      width: 62%;
    }
  }
  
  @media screen and (max-width:1610px) {
  
    .maindivoftalentswiper .swiper{
      width: 68%;
    }
  }
  @media screen and (max-width:1550px) {
  
    .maindivoftalentswiper .swiper{
      width: 74%;
    }
  }
  
  
  @media screen and (max-width:1450px) {
  
    .maindivoftalentswiper .swiper{
      width: 100%;
    }
    .maindivoftalentswiper {
      margin-inline: 24rem !important;
      margin-top: -6rem;
    }
    
  }
  @media screen and (max-width:1400px) {
  
    .maindivoftalentswiper {
      margin-inline: 10rem !important;
      margin-top: -6rem;
    }
    .maindivoftalentswiper .swiper{
      width: 80%;
    }
  }
  
  @media screen and (max-width:1350px) {
  
    .maindivoftalentswiper .swiper{
      width: 90%;
    }
  }
  
  @media screen and (max-width:1200px) {
  
    .maindivoftalentswiper .swiper {
      width: 65%;
  }
  }
  
  
  
  @media screen and (max-width:850px) {
  
    .maindivoftalentswiper {
      margin-inline: 0rem !important;
      margin-top: 0.5rem;
    }
  }
  
  @media screen and (max-width:770px) {
  
    .imagebelow div:nth-of-type(1) {
      font-size: 18px;
      font-family: AeonikTRIAL-Regular;
      font-weight: 400;
    }
  
    .imagebelow {
      padding: 3px;
    }
  
  }
  
  /* phone media querires */
  
  
  @media screen and (max-width:500px) {
  
    .maindivoftalentswiper .swiper {
      width: 100%;
  }
  }
  
  
  @media screen and (max-width:470px) {
  
    .talentstackdiv h1 {
      font-size: 4rem;
    }
  
    .maindivoftalentswiper {
      margin-inline: 0rem !important;
      margin-top: -6rem;
    }
  
    .imagebelow div:nth-of-type(2) {
      font-size: 12px;
      font-family: AeonikTRIAL-Regular;
      font-weight: 400;
    }
  
    .maindivoftalentswiper {
  
      margin-top: 0rem;
  }
  
  .imagebelow {
    padding: 3px;
    padding-left: 2rem;
  }
  
  }