.wakeelrmain{
display: flex;
height: 90vh;
}
.wakeelrleft{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
/* oko */
}
.wakeelrleft img{
width: 75%;
height: 80vh;
}
.wakeelrright{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wakelrform{

}
